@font-face 
{
    src: url("./fonts/Barqish.ttf");
    font-family:Barqish;
}

body{
    background-color: gray;
}
.commona
{
    text-align: center;
}
.card-1
{
    font-size: 3rem;
    margin-top: 100px;
}
h5
{
    text-align: center;
    font-size: 3rem;
    color:seagreen;
    margin-top:250px;
}
.card-img
{
    height:500px;
}
h3
{
    font-size: 4rem;
    text-align: center;
}
.common-class
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:30px;
}
.carousel-item
{
   /* height:900px;
    width:800px;*/
}
.card1
{
    padding:30px;
}







@media all and (max-width:400px)
{
    .common-class
    {
        display: grid;
    grid-template-columns: 1fr;
    padding:50px;
    }


}    
