
@font-face 
{
    src: url("./fonts/Barqish.ttf");
    font-family:Barqish;
}
@font-face 
{
    src: url("./fonts/RastefaniItalic.ttf");
    font-family:RastefaniItalic;
}
body
{
    background-color:gray;
}
.navbar-brand
{
    font-family:Barqish;
    font-size:2rem;
}
.nav-item
{
    padding:15px 15px;
    font-size: 1.4rem;
    font-family:RastefaniItalic;
}
.common
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header>h3
{
    font-size: 3rem;
    text-align: center;
}
.header1
{
    text-align:center;
}
.header5
{
    text-align: center;
}
.form-control
{
    width:300px;
    border-radius: 50px;
}
.form-label
{
    color:white;
}
.commonc
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}
.footer-icon
{
    width:400px;
    height:100px;
    margin-left:50px;
    margin-top:-40px;
}
.footer-icon2
{
    margin-left:50px;
}
ul li a
{
    color:#f4acb7;
}
.footer
{
    font-family:Barqish;
    color:#ffddd2;
}
.footer-logo
{
    font-family:Barqish;
}








@media all and (max-width:400px)
{
    .commonc 
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    .header5
    {
        margin-top:50px;
        font-size: 2rem;
    }
}


@media all and (min-width:750px) and (max-width:1000px)
{
    .commonc 
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}