@font-face 
{
    src: url("./fonts/Barqish.ttf");
    font-family:Barqish;
}
@font-face 
{
    src: url("./fonts/RastefaniItalic.ttf");
    font-family:RastefaniItalic;
}
.navbar-brand
{
    font-family:Barqish;
    font-size:1.5rem;
}
.nav-item
{
    padding:15px 15px;
    font-size: 1rem;
    font-family:RastefaniItalic;
}
.carousel-item
{
    height:650px;
}
p
{
    font-size: 3rem;
    margin-bottom:250px;
    color:white;
}
