@font-face 
{
    src: url("./fonts/Barqish.ttf");
    font-family:Barqish;
}
@font-face 
{
    src: url("./fonts/RastefaniItalic.ttf");
    font-family:RastefaniItalic;
}
@font-face 
{
    src: url("./fonts/AngillaTattooPERSONALUSEONLY.ttf");
    font-family:AngillaTattooPERSONALUSEONLY;
}
body
{
    background-color:gray;
}
.navbar-brand
{
    font-family:Barqish;
    font-size:2rem;
}
.nav-item
{
    padding:15px 15px;
    font-size: 1.4rem;
    font-family:RastefaniItalic;
}
.carousel-item
{
    height:650px;
    object-fit: cover;
}
p
{
    font-size: 3.3rem;
    margin-bottom:250px;
    color:white;
    font-family:Barqish;
    z-index: -1;
}
h5
{
     font-size:2.5rem ;
     font-family:Barqish;
     /*color:white;*/
     color:#0d21a1;

}
span
{
    color:red;
    font-family:Barqish;
}
h2
{
    font-family:AngillaTattooPERSONALUSEONLY;
    margin-top:30px;
    text-align: center;
}
h3
{
    text-align: center;
}
.common
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.card
{
    background-color: gray;
    border-radius:20px;
    margin:50px;
}
.card-text
{
    font-family:Barqish;
    font-size: 1.5rem;
}
.card-body
{
    display: flex;
    justify-content: center;
}

.dropdown-menu
{
    border-radius: 20px;
    background-color: grey;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-text1
{
    margin-top:40px;
}
.header-main
{
    font-family:Barqish;
    text-align: center;
    font-size: 2rem;
}


.common-body
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.common-id
{
    display: flex;
}
.img
{
    margin: 30px;
}
ul li a
{
    color:#f4acb7;
}
.footer
{
    font-family:Barqish;
    color:#ffddd2;
}
.footer-logo
{
    font-family:Barqish;
}




@media all and (max-width:400px)
{
    .common
    {
        display: grid;
        grid-template-columns:1fr;
        margin: 50px;
        margin-top:50px;
    }   

h2
{
    margin-top:-250px;
    font-size: 2rem;
}
h3
{
    font-size: 2rem;
}
.card-text
{
    font-size: 2rem;
}
.common-body
{
    display: grid;
    grid-template-columns: 1fr;
   margin:10px;
}
.header-main
{
    margin-top:-100px;
    font-size: 5rem;
}
.container
{
    display: grid;
    grid-template-columns: 1fr;
    margin:20px;
    font-size: 2rem;
}

}
@media all and (min-width:700px) and (max-width:1000px)
{
    .common-body
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}