@font-face 
{
    src: url("./fonts/Barqish.ttf");
    font-family:Barqish;
}
@font-face 
{
    src: url("./fonts/RastefaniItalic.ttf");
    font-family:RastefaniItalic;
}
.navbar-brand
{
    font-family:Barqish;
    font-size:2rem;
}
.nav-item
{
    padding:15px 15px;
    font-size: 1.4rem;
    font-family:RastefaniItalic;
}
body
{
    background:linear-gradient( #11998e, #38ef7d);
}
ul li a
{
    color:#f4acb7;
}
.footer
{
    font-family:Barqish;
    color:#ffddd2;
}
.footer-logo
{
    font-family:Barqish;
}
